/*
GERAL
*/

body {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    color: #4d4d4d;
}

h1, h2, h3 {
    margin: 0;
    font-family: "Roboto Slab", Helvetica, Arial, sans-serif;
    font-weight: 700;
}


/*
NAVEGAÇÃO
*/

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #838B8B;
}

nav > a {
    text-decoration:none;
    color: #ffffff;
    font-weight: 700;
    margin-left: 0.1em;
    font-size: 21px;
    font-family: serif;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

nav ul li {
    text-align: center;
    width: 100%;
}

nav ul li a {
    display: inline-block;
    padding: 10px 0;
    width: 100%;
    text-decoration: none;
    color: #f1f1f1;
}


/*
CABEÇALHO
*/

header {
    background-image: url('./imagens/fundo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-shadow: 5px 0px -3px #000;
    text-shadow: -5px 0px 3px #000;
}

header p {
    margin-bottom: 5em;
    font-size: 20px;
    
}
header h2{
    text-shadow: 5px 0px -3px #000;
    text-shadow: -5px 0px 3px #000;
}

/*
SOBRE
*/

#sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 0px 0px;
    background-color: #00C5CD;
    color: #f1f1f1;
}

#sobre p {
    margin-bottom: 2.5em;
    max-width: 1000px;
}


/*
BENEFICIOS
*/

#beneficios {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#beneficios div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 30px;
}

/*
SERVIDORES
*/

#servidores {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    
}

#servidores h2 {
    margin-bottom: 20px;
}

#servidores img {
    width: 100%;
}

/*
TIPOS DE CLOUD
*/

#tiposdecloud {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #6495ED;
    color: #f1f1f1;
    border-top-width:medium;
    border-top-style:solid;
    border-top-color:aqua;
    border-bottom-width:medium;
    border-bottom-style:solid;
    border-bottom-color:aqua;
}

#tiposdecloud div {
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
    margin-top: 20px;

}


/*
FOOTER
*/

footer {
    text-align: center;
    padding: 10px;
    background-color: #4d4d4d;
    color: #f1f1f1;
    
}

/*
MEDIA QUERIES
*/

@media screen and (min-width: 768px) {
    /*
    NAVEGAÇÃO
    */
    nav {
        flex-direction: row;
        justify-content: space-around;
    }
    
    nav ul {
        flex-direction: row;
        width: 70%;
    }
    
    /*
    CABEÇALHO
    */
    
    header {
        height: 600px;
        height: 60vh;
        justify-content: center;
        font-size: 15px;
    }
    

    /*
    SOBRE
    */
    
    #sobre {
        height: 250px;
        height: 30vh;
        justify-content: center;
        min-height: 250px;
    }
    
    /*
    SERVIÇOS
    */
    
    #beneficios {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        max-width: 1000px;
        margin: 0 auto;
    }
    
    #beneficios h2 {
        text-align: center;
        width: 100%;
    }
    
    #beneficios div {
        flex-grow: 1;
        flex-basis: 150px;
        padding: 0 10px;
    }
    
    /*
    SERVIDORES
    */
    
    #servidores {
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    #servidores h2 {
        width: 100%;
        text-align: center;
    }
    
    #servidores img {
        width: 33.3333333333%;
    }
    
